.topside {
    color: #2B2B2B;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.leftside, .rightside {
    position: absolute;
    overflow: auto;
    width: 50%;
    top: 15%;
}

.leftside {
    left: 10%;
    width: 40%;
    text-align: left;
}

.rightside {
    right: 0;
    width: 50%;
    vertical-align: auto;
}

.main {
    text-align: center; !important;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.otstup {
    padding-bottom: 15px;
}

.podpis {
    color: #2B2B2B;
}

#check, #res, #history-button{
    width: 120px; !important;
    height: 30px; !important;
    border-radius: 10px; !important;
}

#check:hover, #res:hover, #history-button:hover {
    background: #3399FF !important;
}

#check:active, #res:active, #history-button:active {
    background: #8153FD !important;
}

#result-table{
    text-align: center;
}

.warn-checkbox {
    color: red;
}

.warn-text {
    border-color: red;
}